.nav {
  background: #000;
  width: 60px;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.nav--logo-container {
  padding: 1px;
}

.nav-logo {
}

.nav--nav-items-container {
  padding: 0;
  list-style: none;
}

.nav--nav-item {
  background: $nav-grey;
  display: inline-block;
  width: 60px;
  height: 58px;
  text-align: center;
  margin-bottom: 3px;
  color: #fff;
  position: relative;
  &:hover {
    color: #fff;
  }
}

.nav--active {
  background: $green;
}
.nav--icon {
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}

.nav--off-set {
  align-items: center;
  display: flex;
  background: #14b19b;
  font-size: $s-size;
  position: absolute;
  height: 58px;
  left: 60px;
  top: 0;
  width: 0;
  justify-content: center;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
  overflow: hidden;
}
