.title {
  @extend .basic-text;
  font-family: $font-ralway;
  font-size: $xxxl-size;
  font-weight: 700;
}

.med-title {
  @extend .basic-text;
  color: $green;
  font-family: $font-ralway;
  font-size: $xl-size;
  font-weight: 500;
  margin-bottom: $m-size;
}

.subhead {
  @extend .basic-text;
  color: $green;
  font-family: $font-ralway;
  font-size: $xl-size;
  font-weight: 500;
}

.med-subhead {
  @extend .basic-text;
  color: $dark-grey;
  font-family: $font-ralway;
  font-size: $l-size;
  font-weight: 500;
  margin-bottom: $m-size;
}
.body {
}

.grey {
  color: $grey !important;
}
