// Colors
$green: #14b19b;
$dark-grey: #7d7d7d;
$grey: #666;
$dark-blue: #364051;
$off-white: #f7f7f7;
$theme: $green;

// Fonts
$font-ralway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$font-default: $font-open-sans;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6rem;
$xxxl-size: 8.2rem;
$desktop-breakpoint: 45rem;

// Basic Typography
.basic-text {
  color: #fff;
  font-family: $font-default;
  font-size: $m-size;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .basic-text;
}
